extends ../../template/master.pug

block content
        div(style='float : left;')
                h1.title(style='color: green;') HOME
        div(style='float : right;')
                a(href='/search')
                        button.button(type='button')
                                strong(style='color: green;') Search your Car Record
        br
        br
        hr
        center
                a(href='/create')
                                button.button(type='button')
                                        strong(style='color: green;') Create
                br
                br
                a(href='/read')
                                button.button(type='button')
                                        strong(style='color: green;') Read
                br
                br
                a(href='/update')
                                button.button(type='button')
                                        strong(style='color: green;') Update
                br
                br
                a(href='/delete')
                                button.button(type='button')
                                        strong(style='color: green;') Delete
                br
