extends ../template/master.pug

block content
	div(style='float: left;')
		h1.title(style='color: green;') Chat with :
	div
		br
		br
		hr
		form(method="POST" action="/chat")
			.field
				.label Username :
				.control
					input.input(type='text' name='uname')
			br
			button.button(type='submit')
				strong(style='color: green;') Submit
			a(href='/home')
				button.button(type='button')
					strong(style='color: green;') Cancel
