extends ../../template/master.pug

block content
	div
		h1.title(style='color: red;') ERROR: Database is off
		br
		strong(style='color: red;') Turn on your DB and 
			a(href='/login')
				strong(style='color: blue;') click here!
