extends ../../template/master.pug

block content
	div
		h1.title(style='color: red;') ERROR: DB_PASSWORD is incorrect
		br
		strong(style='color: red;') Put the correct password of your DB in .env, restart the server and 
			a(href='/login')
				strong(style='color: blue;') click here!
