extends ../../template/master.pug

block content
	div(style='float : left')
		h1.title(style='color: green;') Unidentified Car Company
	div(style='float: right;')
		a(href='/home')
			button.button(type='button' style='width: 11.3em;')
				strong(style='color: green;') Back to HOME
	div(style='float : right;')
		a(href='/update')
			button.button(type='button')
				strong(style='color: green;') Edit a Car Record
	br
	br
	div
		hr
		h3
			strong Available Cars :
		br
		table(border='8')
			thead
				tr
					td
						strong ID
					td
						strong Make
					td
						strong Model
					td
						strong Year
			tbody
				each car in cars
					tr
						td
							strong= car.id
						td
							strong= car.make
						td
							strong= car.model
						td
							strong= car.year
			
