extends ../../template/master.pug

block content
	div(style='float: left')
		h1.title(style='color: green;') Sign Up
	div
		br
		br
		hr
		strong(style='color: red; float: right;') * Confirm password did not match
		form(method='POST' action='/signup')
			.field
				.label Create username :
				.control
					input.input(type='text' name='username')
			.field
				.label Create password :
				.control
					input.input(type='password' name='password')
			.field
				.label Re-enter password :
				.control
					input.input(type='password' name='confirm')
			br
			button.button(type='submit')
				strong(style='color: green;') Create
			a(href='/login')
				button.button(type='button')
					strong(style='color: green;') Cancel			