html
	head
		title Unidentified Car Company

		link(rel="stylesheet" href="/bulma/bulma.css")
		link(rel="stylesheet" href="/font/css/font-awesome.min.css")

	body(background='file:///home/unidentified/Pictures/marshmello.jpg')
		div.section
			div.container
				block content
