extends ../../template/master.pug

block content
	h1.title(style='color: green') Delete
	hr
	form(method='POST' action='/delete')
		.field
			.label Enter the ID of the car you want to delete :
			.control
				input.input(type='number' name='id')
		strong(style='color: red;') Record 404: Not Found
		br
		br
		button.button(type='submit')
			strong(style='color: green;') Submit
		a(href='/home')
			button.button(type='button')
				strong(style='color: green;') Cancel
